<a href="#/form-cliente"><button class="btn btn-primary">CADASTRAR</button></a>
<br>
<br>
<input type="text" ng-model="criterioDeBusca" class="form-control" placeholder="Digite o termo para pesquisar" />
<br>

<table class="table table-striped">
	<tr>
		<th>Nome</th>
		<th>Telefone</th>
		<th>A&ccedil;&otilde;es</th>
	</tr>
	<tr ng-repeat="c in clientes | filter:criterioDeBusca">
		<td>{{c.nome}}</td>
		<td>{{c.telefone}}</td>
		<td>
			<a href="#form-cliente/{{c.id}}"><button class="btn btn-primary">EDITAR</button></a>
			<button class="btn btn-primary" ng-click="removerCliente(c)" confirmation-needed="Confirma a exclus&atilde;o do cliente {{c.nome}}?">EXCLUIR</button>
		</td>
	</tr>
</table>

