<form name="clienteForm" ng-submit="gravaCliente()" novalidate >

	<label style="text-decoration: underline; text-transform: uppercase; font-weight: bold;">Dados Pessoais</label>

	<div class="row">

		<div class="form-group col-md-8">
			<label>Nome</label>
			<input type="text" name="nome" ng-model="cliente.nome" class="form-control" ng-required="true" ng-minlength="3" maxlength="128"/>
			<div ng-show="clienteForm.$submitted" class="div-error">
				<div ng-show="clienteForm.nome.$error.required">Digite o Nome.</div>
				<div ng-show="clienteForm.nome.$error.minlength">O Nome deve ter no m&iacute;nimo 3 caracteres.</div>
			</div>
		</div>

		<div class="form-group col-md-4">
			<label>Telefone</label>
			<input type="text" ng-model="cliente.telefone" name="telefone" class="form-control" ng-required="true"	 mask="(99)9?9999-9999" ng-pattern="/^\([0-9]{2}\)[0-9]{4,5}-[0-9]{4}$/"/>
			<div ng-show="clienteForm.$submitted" class="div-error">
				<div ng-show="clienteForm.telefone.$error.required">Digite o Telefone.</div>		
				<div ng-show="clienteForm.telefone.$error.pattern">Telefone Inv&aacute;lido.</div>			
			</div>
		</div>

	</div>

	<label style="text-decoration: underline; text-transform: uppercase; font-weight: bold;">Endere&ccedil;o</label>

	<div class="row">

		<div class="form-group col-md-4">
			<label>Cep</label>
			 <input type="text" ng-model="cliente.endereco.cep" name="cep" class="form-control" mask="99999-999" placeholder="Informe o cep para buscar o endere&ccedil;o" ng-required="true" ng-blur="onBlur($event, cliente.endereco.cep)" ng-pattern="/^\d{5}-\d{3}$/"/>
			<div ng-show="clienteForm.$submitted" class="div-error">
				<div ng-show="clienteForm.cep.$error.required">Digite o Cep.</div>				
				<div ng-show="clienteForm.cep.$error.pattern">Cep Inv&aacute;lido.</div>				
				
			</div>
		</div>

		<div class="form-group col-md-3">
			<label>Uf</label>
			<select class="form-control" ng-model="cliente.endereco.uf" name="uf" ng-options="estado.Sigla as estado.Nome for estado in estados" ng-required="true">
				<option value="">selecione...</option>
			</select>
			<div ng-show="clienteForm.$submitted" class="div-error">
				<div ng-show="clienteForm.uf.$error.required">Selecione a UF.</div>				
			</div>			
		</div>

		<div class="form-group col-md-5">
			<label>Cidade</label>
			<input type="text" ng-model="cliente.endereco.localidade" class="form-control" name="cidade" ng-required="true" maxlength="128"/>
			<div ng-show="clienteForm.$submitted" class="div-error">
				<div ng-show="clienteForm.cidade.$error.required">Digite a Cidade.</div>				
			</div>
		</div>
				
	</div>

	
	<div class="row">
	
		<div class="form-group col-md-3">
			<label>Bairro</label>
			<input type="text" ng-model="cliente.endereco.bairro" class="form-control" name="bairro" ng-required="true" maxlength="128"/>
			<div ng-show="clienteForm.$submitted" class="div-error">
				<div ng-show="clienteForm.bairro.$error.required">Digite o Bairro.</div>				
			</div>
		</div>
	
		<div class="form-group col-md-5">
			<label>Logradouro</label>
			<input type="text" ng-model="cliente.endereco.logradouro" class="form-control" name="logradouro" ng-required="true" maxlength="128"/>
			<div ng-show="clienteForm.$submitted" class="div-error">
				<div ng-show="clienteForm.logradouro.$error.required">Digite o Logradouro.</div>				
			</div>
		</div>

		<div class="form-group col-md-2">
			<label>Numero</label>
			<input type="text" id="numero" ng-model="cliente.endereco.numero" class="form-control" name="numero" ng-required="true" ng-pattern="/\d/"/>
			<div ng-show="clienteForm.$submitted" class="div-error">
				<div ng-show="clienteForm.numero.$error.required">Digite o N&uacute;mero.</div>				
				<div ng-show="clienteForm.numero.$error.pattern">N&uacute;mero Inv&aacute;lido.</div>				
			</div>
		</div>

		<div class="form-group col-md-2">
			<label>Complemento</label>
			<input type="text" ng-model="cliente.endereco.complemento" class="form-control" name="complemento" ng-required="true" maxlength="128"/>
			<div ng-show="clienteForm.$submitted" class="div-error">
				<div ng-show="clienteForm.complemento.$error.required">Digite o Complemento.</div>				
			</div>
		</div>

	</div>
	<br>

	<a href="#/lista-clientes"><button class="btn btn-primary">VOLTAR</button></a>
	<input type="submit" value="SALVAR" class="btn btn-primary"/>

</form>


